*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}

.img-gallery{
    margin: 100px auto 50px;
    width: 80%;
    display: grid ;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

.img-gallery img:hover {
    transform: scale(.8) rotate(-15deg);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(173, 173, 173) ;
}

.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;   
    z-index: 100;
}

.full-img img{
  max-width: 500px;
}
.full-img  span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    padding: .4rem  .5rem ;
    border-radius: 5px;
  }